:root {
  --bg: #ffffff;
  --text: #000000;
  --primary: #0072ff;
}

body {
  font-family: sans-serif;
  background-color: var(--bg);
  color: var(--text);
  transition: all 0.3s ease;
}

.dark-mode {
  --bg: #121212;
  --text: #ffffff;
  --primary: #00bcd4;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, var(--primary), hsl(193, 100%, 50%));
  color: white;
  padding: 1rem 2rem;
  height: 1.8rem;
  border-radius: 10px 10px 0px 0px;
}

.logo {
  font-family: cursive;
  font-weight: 500;
  font-size: 35px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav-links a,
.nav-links button {
  color: white;
  background: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}

.nav-links a:hover {
  opacity: 0.9;
}

.menu-toggle {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.hero {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to right, var(--primary), #00c6ff);
  color: white;
  border-radius: 0px 0px 10px 10px;
}

.hero-content h1 {
  font-size: 40px;
  margin-left: 1rem;
  margin-right: -3rem;
  margin-bottom: -0.5rem;
}
.hero-content p {
  margin-bottom: 1.7rem;
  font-weight: 800;
}

#about {
  line-height: 25px;
  margin-top: 0.3rem;
}

.btn {
  padding: 0.7rem 1.5rem;
  background-color: white;
  color: var(--primary);
  border-radius: 5px;
  text-decoration: none;
}

.skills-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  list-style: none;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background:   #eee;
  border-radius: 10px;
  height: 4.5rem;
  width: 4.5rem;
  padding-top: 1.5rem; 
}

.skill:hover {
  opacity: 0.9;
  transform: scale(1.07);
}

.skill i {
  font-size: 40px;
}
.skill p {
  font-size: 17px;
  font-weight: 650;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

.project-card {
  background: #eee;
  padding: 2rem;
  border-radius: 10px;
}

.project-card:hover {
  transform: scale(1.02);
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.project-card h3 {
  margin-bottom: 0.5rem;
}

.project-card a {
  display: inline-block;
  margin-top: 0.5rem;
  color: var(--primary);
  text-decoration: none;
}
.footer {
  background: linear-gradient(to right, var(--primary), hwb(193 9% 0%));
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
}

.footer a {
  margin-left: 2rem;
  color: #ffffff;
  text-decoration: none;
  font-family: cursive;
  margin-bottom: 0.5rem;
  font-family: cursive;
}

.footer a:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #222;
    padding: 1rem;
    position: absolute;
    top: 60px;
    right: 1rem;
    z-index: 10;
  }

  .nav-links.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}
